{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% load crispy_forms_tags %}
{% block content %}



  <div class="py-4">
      <nav aria-label="breadcrumb" class="d-none d-md-inline-block">
          
      </nav>
      
  </div>
  
  
        <div class="col-md-4" >
              <form action="" method="post">
                    {% csrf_token %}
                    {{ form.stock_Name | as_crispy_field }}
                    {{ form.quantity | as_crispy_field }}
                    {{ form.purchase_Value | as_crispy_field }}
                    
                    <div class="row" >
                        <div class="col-md-12" >
                            {{ form.transaction_Date | as_crispy_field }}
                                
                        </div>
                        
                    </div>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;
                                        <button type="submit" class="btn btn-success" onclick="return validate()">Submit</button>
                    
                </form>
                
             
         </div>
      
      
    <script>
        function validate() {
            
            if((document.getElementById("id_quantity").value) >= 1){
                return true;
            }    
            else{
                alert(" Quantity should be greater than 1")
                return false;
            }            
        }
    </script>

  
  </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}



